/* ---------------------------------------CSS Document--------------------------------- */
/* ----------------------------------------CSS reset----------------------------------- */
body { margin:0; padding:0; height:100%; }
html { color:#606060; font-family:OpenSans-Regular; height:100%; font-size:16px; line-height:26px; }
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td { margin: 0; padding: 0; }
table { border-collapse:collapse; border-spacing::0;
}
fieldset,
img { border:0; }
address,
caption,
cite,
code,
dfn,
th,
var { font-style:normal; font-weight:normal; }
caption,
th { text-align:left }
h1,
h2,
h3,
h4,
h5,
h6 { font-size:100%; font-weight:normal }
q:before,
q:after { content:'' }
abbr,
acronym { border:0; }

/*----------------------------font-face------------------------*/
@font-face {
font-family:OpenSans-Light;
src:url('../font-face/OpenSans-Light.eot');
src:local('☺'), url('../font-face/OpenSans-Light.eot?#iefix') format('embedded-opentype'), url('../font-face/OpenSans-Light.woff') format('woff'), url('../font-face/OpenSans-Light.ttf') format('truetype'), url('../font-face/OpenSans-Light.svg#webfontOTINA1xY') format('svg');
 font-weight:normal;
 font-style:normal;
}
@font-face {
font-family:OpenSans-Regular;
src:url('../font-face/OpenSans-Regular.eot');
src:local('☺'), url('../font-face/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), url('../font-face/OpenSans-Regular.woff') format('woff'), url('../font-face/OpenSans-Regular.ttf') format('truetype'), url('../font-face/OpenSans-Regular.svg#webfontOTINA1xY') format('svg');
 font-weight:normal;
 font-style:normal;
}
@font-face {
font-family:OpenSans-Semibold;
src:url('../font-face/OpenSans-Semibold.eot');
src:local('☺'), url('../font-face/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'), url('../font-face/OpenSans-Semibold.woff') format('woff'), url('../font-face/OpenSans-Semibold.ttf') format('truetype'), url('../font-face/OpenSans-Semibold.svg#webfontOTINA1xY') format('svg');
 font-weight:normal;
 font-style:normal;
}
/*------------------------------------font-face-----------------------------*/

/*------------------------------------headings------------------------------*/
h1,
h2,
h3,
h4,
strong,
b { color: #444; }
h1 { font-size: 36px; line-height: 39px; color:#444; font-family: OpenSans-Light, Arial, Helvetica, sans-serif; font-weight:normal; }
h2 { font-size: 30px; line-height: 33px; font-weight: light; }
h3 { font-size: 24px; line-height: 28px; font-weight: normal; }
h4 { font-size: 16px; line-height: 26px; font-weight: semibold; }
h5 { font-size: 14px; line-height: 24px; font-weight: semibold; }
/*-------------------------------------headings--------------------------*/

/*---------------------------------- line-height-----------------------*/
.lh14 { line-height:14px; }
.lh18 { line-height:18px; }
.lh24 { line-height:24px; }
.lh26 { line-height:26px; }
.lh30 { line-height:30px; }
.lh34 { line-height:34px; }
.lh150p { line-height:150%; }
/*-------------------------------------line-height---------------------------*/

/* ---------------------------------------font ---------------------------------*/
.uppercase { text-transform: uppercase; }
.f075em { font-size:0.75em; }
.f1em { font-size:1em; }
.f12 { font-size:12px; }
.f14 { font-size:14px; line-height:24px; }
.f16 { font-size:16px; }
.f18 { font-size:18px; }
.f20 { font-size:20px; line-height:25px; }
.f24 { font-size:24px; line-height:25px; }
.f30 { font-size:30px; }
.fb { font-weight:bold; }
.fn { font-weight:normal; }
.fontSb { font-family:OpenSans-Semibold;}
.t2 { text-indent:2em; }
/* -------------------------------------------font -----------------------------------*/

/*------------------------------------- padding & margin---------------------- */
.p5 { padding:5px; }
.p8 { padding:8px; }
.p10 { padding:10px; }
.p15 { padding:15px; }
.p20 { padding:20px; }
.ptb100 { padding:100px 0; }
.pt5 { padding-top:5px; }
.pt8 { padding-top:8px; }
.pt10 { padding-top:10px; }
.pt15 { padding-top:15px; }
.pt20 { padding-top:20px; }
.pt25 { padding-top:25px; }
.pt30 { padding-top:30px; }
.pt35 { padding-top:35px; }
.pt40 { padding-top:40px; }
.pt45 { padding-top:45px; }
.pt50 { padding-top:50px; }
.pt70 { padding-top:70px; }
.pt80 { padding-top:80px; }
.pt100 { padding-top:100px; }
.pl10 { padding-left:10px; }
.pl20 { padding-left:20px; }
.pl30 { padding-left:30px; }
.pl40 { padding-left:40px; }
.pl45 { padding-left:45px; }
.pl50 { padding-left:50px; }
.pl60 { padding-left:60px; }
.pl80 { padding-left:80px; }
.pb15 { padding-bottom:15px; }
.pb20 { padding-bottom: 20px; }
.pb30 { padding-bottom: 30px; }
.pb40 { padding-bottom: 40px; }
.pb50 { padding-bottom:50px; }
.pb80 { padding-bottom:80px; }
.pb60 { padding-bottom: 60px; }
.pb100 { padding-bottom: 100px; }
.pr10 { padding-right:10px; }
.pr20 { padding-right:20px; }
.pr30 { padding-right:30px; }
.pr40 { padding-right:40px; }
.pr50 { padding-right:50px; }
.pr60 { padding-right:60px; }
.pr70 { padding-right:70px; }
.m10 { margin: 10px; }
.m15 { margin: 15px; }
.m20 { margin: 20px; }
.m30 { margin: 30px; }
.m50 { margin: 50px; }
.m70 { margin: 70px; }
.mt5 { margin-top:5px; }
.mt10 { margin-top:10px; }
.mt15 { margin-top:15px; }
.mt20 { margin-top:20px; }
.mt25 { margin-top:25px; }
.mt30 { margin-top:30px; }
.mt35 { margin-top:35px; }
.mt36 { margin-top:36px; }
.mt40 { margin-top:40px; }
.mt45 { margin-top:45px; }
.mt50 { margin-top:50px; }
.mt60 { margin-top:60px; }
.mt70 { margin-top:70px; }
.mt80 { margin-top:80px; }
.mt100 { margin-top:100px; }
.ml0 { margin-left:0 !important; }
.ml10 { margin-left:10px; }
.ml15 { margin-left:15px; }
.ml20 { margin-left:20px; }
.ml25 { margin-left:25px; }
.ml30 { margin-left:30px; }
.ml40 { margin-left:40px; }
.ml45 { margin-left:45px; }
.ml50 { margin-left:50px; }
.ml60 { margin-left:60px; }
.ml80 { margin-left:80px; }
.ml100 { margin-left:100px; }
.mb10 { margin-bottom:10px; }
.mb15 { margin-bottom:15px; }
.mb20 { margin-bottom:20px; }
.mb30 { margin-bottom:30px; }
.mb80 { margin-bottom:80px; }
.mr0 { margin-right:0 !important; }
.mr20 { margin-right:20px; }
.mr30 { margin-right:30px; }
.mr40 { margin-right:40px; }
.mauto { margin: 0 auto; }
/*------------------------------------- padding & margin--------------------- */

/*------------------------------------- width & height -----------------------*/
.w50p { width:50%; }
.w80p { width:80%; }
.w85p { width:85%; }
.w90p { width:90%; }
.w100p { width:100%; }
.w20 { width:20px; } 
.w40 { width:40px; }
.w50 { width:50px; }
.w60 { width:60px; }
.w70 { width:70px; }
.w80 { width:80px; }
.w100 { width:100px; }
.w200 { width:200px; }
.w300 { width:300px; }
.w320 { width:320px; }
.w325 { width:325px; }
.w340 { width:340px; }
.w350 { width:350px; }
.w400 { width:400px; }
.w450 { width:450px; }
.w500 { width:500px; }
.w550 { width:550px; }
.w600 { width:600px; }
.w650 { width:650px; }
.w700 { width:700px; }
.w780 { width:780px; }
.w800 { width:800px; }
.w900 { width:900px; }
.w980 { width:980px; }
.h30 { height:30px; }
.h40 { height:40px; }
.h48 { height:48px; }
.h50 { height:50px; }
.h80 { height:80px; }
.h100 { height:100px; }
.mh400 { min-height:400px; }
/*------------------------------------ width & height----------------------------------- */

img,
a { outline:none; }
p { line-height:26px; margin:10px 0 5px 0;}
/*--------------------------------------display------------------------------------------*/
.visible { display:;
}
.hidden { display:none; }
.block { display: block; }
.inlineBlock { display:inline-block; }
.clearfix { clear:both; }
.clearfix:after { content: "."; display:inline-block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
/*--------------------------------------display-----------------------------------------*/

/*---------------------------------------links-------------------------------------------*/
a:link { color:#606060; text-decoration:none; }
a:visited { color:#444; text-decoration:none; }
a:active { color: #444; text-decoration:none; }
a:hover { color:#fe8e14; }
a.orangelink { color:#fe8e14;}
a.orangelink:hover { border-bottom:solid 1px #fe8e14; }
a.graylink { border-bottom:solid 1px; }
a.graylink:hover { color:#fe8e14; }
a.blacklink { color:#444; border-bottom:solid 1px; font-family:OpenSans-Semibold; }
a.blacklink:hover { color:#aaa; }
a.noUnderLine { text-decoration:none; }
a.ignoreHover:hover{color:inherit;}
/*---------------------------------------links------------------------------------------*/

/*--------------------------------------background--------------------------------------*/
.bgGray { background:#f5f5f5; }
.bgWhite { background:#FFF; }
.bgOrange { background:#fe8e14; }
/*--------------------------------------background--------------------------------------*/

/*---------------------------------------color------------------------------------------*/
.fontOrange { color:#fe8e14 !important; }
.fontWhite { color:#fff !important;}
.gray-border-right { border-right:solid 1px #ccc; }
.gray-border-top { border-top:solid 1px #ccc; }
.gray-border-bottom { border-bottom:solid 1px #ccc; }
.noborder { border:none !important; }
/*---------------------------------------color------------------------------------------*/

/*-------------------------------------- position --------------------------------------*/   
.tl { text-align:left; }
.tc { text-align:center; }
.tr { text-align:right; }
.fl { float:left; display:inline; }
.fr { float:right; display:inline; }
.cl { clear:both; }
.vm { vertical-align: middle; }
.vt { vertical-align: top; }
.vb { vertical-align: bottom; }
.pr { position:relative; }
.pa { position:absolute; }
.zoom { zoom:1; }
/*------------------------------------- position --------------------------------------*/

/*--------------------------------------- list----------------------------------------*/
ol,
ul,
li,
dt,
dd { list-style:none; margin:0; padding:0; }
.orange-li li { padding-left:15px; background:url(../images/icn-orange-li.png) no-repeat left 10px; }
.list-numbers { list-style:decimal; list-style-position:inside; padding-left:28px; }
.list-numbers>li { list-style:decimal; }
.list-circle { clear:both; padding-left:20px;}
.list-circle>li { list-style:circle; }
.list-disc { clear:both; padding-left:20px; }
.list-disc>li { list-style:disc; }
.list-square { clear:both; padding-left:20px;}
.list-square>li { list-style:square; }
/*--------------------------------------- list----------------------------------------*/

/*----------------------------------------form----------------------------------------*/
input,
select { vertical-align: middle; }
input[type='text'] { outline:none; font-family:OpenSans-Regular; font-size:14px; }
/*--------------------------------------- form---------------------------------------*/

/* --------------------------------------table/Grid--------------------------------- */
/*-------------------------------------- table/Grid ---------------------------------*/

/*-----------------------------------------button------------------------------------*/
a.lgBtn42-orangeBg { display:inline-block; height:40px; border:solid 1px #fe8e14; min-width:80px; font-size:14px; line-height:40px; text-align:center; padding:0 20px; border-radius:22px; -webkit-border-radius:22px; -moz-border-radius:22px; -o-border-radius:22px; background:#fe8e14; color:#fff; cursor:pointer; }
a.lgBtn42-orangeBg:hover { color:#fe8e14; background:none; border:solid 1px #fe8e14; }
a.smlBtn32-orangeBg { display:inline-block; height:30px; border:solid 1px #fe8e14; min-width:80px; font-size:14px; line-height:30px; text-align:center; padding:0 20px; border-radius:18px; -webkit-border-radius:18px; -moz-border-radius:18px; -o-border-radius:18px; background:#fe8e14; color:#fff; cursor:pointer; }
a.smlBtn32-whiteBg { display:inline-block; background:#fff; height:30px; border:solid 1px #fe8e14; color:#fe8e14; min-width:80px; font-size:14px; line-height:29px; text-align:center; padding:0 20px; border-radius:18px; -webkit-border-radius:18px; -moz-border-radius:18px; -o-border-radius:18px; cursor:pointer; }
a.smlBtn32-whiteBg:hover { color:#fff; background:#fe8e14; border:solid 1px #fff; }
a.smlBtn32-orangeBg:hover { color:#fe8e14; background:#fff; border:solid 1px #fe8e14; }
/*-----------------------------------------button-------------------------------------*/

/*-----------------------------------------frame--------------------------------------*/
#wrapper { width:100%; height:100%; }
#container { position:relative; width:100%; height:auto; min-height:100%; background:#fff; }
.inner { width:980px; overflow:hidden; height:auto; margin:0 auto; }
.header-inner { width:980px; margin:0 auto; min-height:90px; background:#fff;}
/*-----------------------------------------frame--------------------------------------*/

/*-----------------------------------------header--------------------------------------*/
#header { width:100%; min-width:980px; _width:980px; height:auto; border-bottom:none; border-top: none; -moz-box-shadow:0 0 0px rgba(0, 0, 0, .3); -webkit-box-shadow:0 0 0px rgba(0, 0, 0, .3); box-shadow:0 0 0px rgba(0, 0, 0, .3);  filter: progid:DXImageTransform.Microsoft.Shadow(color='#aeaeae', Direction=180, Strength=3);/*for ie6,7,8*/
}
#header a { display:inline-block; }
#ds-logo { display: block; background: url(../images/logo-dynamsoft-159X39.png) no-repeat; width: 159px; height: 65px; margin-top: 25px; margin-left:50px; float: left; }
#action-nav { width: 270px; height: 50px; font-size: 14px; margin: 0; padding: 0; font-size: 14px; font-family: OpenSans-Regular; color: #606060; }
#action-nav li { float: right; line-height: 50px; vertical-align: middle; }
.action-tel { background: url(../../images/icn-phone-24X24.png) no-repeat left center; padding-left:25px; }
.action-signin { background: url(../images/icn-sign-24X24.png) no-repeat left center; max-width: 120px; margin-left:20px; padding-left: 30px; }
.action-signin img { margin-top:12px; margin-right:10px; }
#cp-header { width: 270px; padding: 20px 0; height: 50px; float: right;  position: relative;  z-index: 9997;}
#overall-nav>li>a.current { color:#fe8e14; }
#overall-nav .nav-secondary.current { display:block; }
.action-tel { background:url(../images/icn-phone.png) no-repeat left center; }
.action-signin { background:url(../images/icn-live-chat.png) no-repeat left center; }
/*-----------------------------------------header---------------------------------------*/

/*-----------------------------------------subHead---------------------------------------*/
#subHead {width:980px; height:auto; margin:0 auto; background:#171717; padding:20px 0px 20px 0px}
.subHead-icon {margin-left:40px }
/*-----------------------------------------subHead---------------------------------------*/

/*-----------------------------------------subNav---------------------------------------*/
#subNav { width:100%; height:59px; border-top:solid 1px #ddd; border-bottom:solid 1px #ddd; background:#fff; z-index:9996; }
.subNavShadow { position:fixed; top:-100px; box-shadow: 0 0 6px rgba(0, 0, 0, .3); -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, .3); -moz-box-shadow:0 0 6px rgba(0, 0, 0, .3); }
#subNav a { display:inline-block; }
#subNav li { height:59px; width:auto; line-height:59px; float:left; font-size:14px; }
.subNav-lt { height:59px; width:auto; float:left; }
.subNav-lt li { padding:0 5px; }
#subNav .to-home { padding:0; width:25px; margin-right:5px; }
#subNav .to-home a{ display:inline-block; width:25px; height:55px; background:url(../images/logo-to-home.png) no-repeat left center; }
.subNav-ct { height:59px; width:auto; float:right; margin-right:40px; }
.subNav-ct>li { padding:0 5px; }
.subNav-ct>li>a { height:57px; padding:0 8px; }
#subNav .clickon { border-bottom:solid 3px #fe8e14; color:#fe8e14; }
.subNav-ct-more { display:none; width:140px; height:77px; background:#f7f7f7; padding-bottom:3px; }
#subNav .subNav-ct-more li { height:35px; line-height:35px; padding:2px 5px; border-bottom:solid 1px #f7f7f7; }
#subNav .subNav-ct-more a { height:35px; width:130px; line-height:35px; text-align:center; border-bottom:solid 1px #efefef; }
#subNav .subNav-ct-more li:hover { background:#efefef; border-bottom:solid 1px #fe8e14; }
#subNav .lgBtn42-orangeBg { margin-top:8px; float:right; }
#subNav .lgBtn42-orangeBg span { background:url(../images/icn-lgBtn42-freeTrial.png) no-repeat left center; padding-left:23px; }
#subNav .lgBtn42-orangeBg:hover span { background:url(../images/icn-lgBtn42-freeTrial.png) no-repeat -14px center; padding-left:23px; }
.subNav-inner{width:980px; margin: 0 auto; height:100%;}
/*------------------------------------------subNav---------------------------------*/

/*-------------------------------------------nav-----------------------------------*/
.dropdown-toggle { cursor:pointer; }
#overall-nav .active { display:block; }
#overall-nav a.dropdown-toggle.active { color:#fe8e14; }
#overall-nav { height:77px; float:left; padding:13px 0 0 80px; }
#overall-nav>li { float:left; height:77px; width:auto; }
#overall-nav>li>a { position:relative; z-index:9998; display:inline-block; height:55px; width:auto; padding:10px 15px; line-height:46px; font-size:16px; }
#overall-nav .active { display:block; }
#overall-nav a.dropdown-toggle.active { color:#fe8e14; }
#overall-nav>li:hover a.dropdown-toggle { color:#fe8e14; border-bottom:solid 2px #fe8e14; }
#overall-nav>li:hover .nav-secondary { display:block; }
#bg-headerNav { width:100px; height:70px; background:url(../images/bg-headerNav.png) no-repeat center bottom; position:absolute; left:25px; z-index:1000; }
.nav-secondary { display:none; position:absolute; z-index:9997; left:0; top:89px; width:100%; min-width:980px; _width:980px; height:auto; border-top:solid 1px #ccc; box-shadow: -2px 0 0 #fff, /*left*/ 0 0 0 #fff, /*top*/ 0 2px 3px #ccc, /*bottom*/ 2px 0 0 #fff; /*right*/ -moz-box-shadow:-2px 0 0 #fff, /*left*/ 0 0 0 #fff, /*top*/ 0 2px 3px #ccc, /*bottom*/ 2px 0 0 #fff; /*right*/ -webkit-box-shadow:-2px 0 0 #fff, /*left*/ 0 0 0 #fff, /*top*/ 0 2px 3px #ccc, /*bottom*/ 2px 0 0 #fff; /*right*/ padding:45px 0; font-size:14px; background:#fff; }
.nav-secondary ul { 
  float:left; 
  width:auto; 
  height:auto; }
.nav-secondary li { 
  height:30px;
  line-height:30px;
  padding-left:38px; }


.nav-products-IPS {
  margin:0 150px;
}
.nav-download-IPS {
  margin:0 155px;
}
.nav-support-resource {
  margin:0 194px;
}
.nav-company-about {
  margin:0 295px;
}
.nav-buy-IPS {
  margin:0 37px;
}
.nav-buy-sales {
  border-left:solid 1px #aaa;
  margin-left:30px;
  padding-left:30px;
}
.nav-buy-sales a,.nav-buy-sales .nav-Line {
  color:#aaa;
}
.nav-buy-sales a:hover {
  color:#fe8e14;
}
.nav-Line {
  position:relative;
  font-family:OpenSans-Semibold;
  color:#444;
  font-size:16px;
  margin-bottom:8px;
}
.nav-Line .nav-Line-icon {
  width:29px;
  height:30px;
  position:absolute;
  left:0;
  background:url(../images/icn-menu-30X30.png) no-repeat;
}
.nav-products-DSS .nav-Line-icon {
  background-position:1px center;
}
.nav-products-IPS .nav-Line-icon {
  background-position:-26px center;
}
.nav-products-VCS .nav-Line-icon {
  background-position:-54px center;
}
.nav-buy-DSS .nav-Line-icon {
  background-position:1px center;
}
.nav-buy-IPS .nav-Line-icon {
  background-position:-26px center;
}
.nav-buy-VCS .nav-Line-icon {
  background-position:-54px center;
}
.nav-buy-sales .nav-Line-icon {
  background-position:-86px center;
}
.nav-download-DSS .nav-Line-icon {
  background-position:1px center;
}
.nav-download-IPS .nav-Line-icon {
  background-position:-26px center;
}
.nav-download-VCS .nav-Line-icon {
  background-position:-54px center;
}
.nav-support-products .nav-Line-icon {
  background-position:-162px center;
}
.nav-support-resource .nav-Line-icon {
  background-position:-122px center;
  width:31px;
}
.nav-support-contact .nav-Line-icon {
  background-position:-308px center;
}
.nav-company-who .nav-Line-icon {
  background-position:-200px center;
}
.nav-company-about .nav-Line-icon {
  background-position:-240px center;
}
.nav-company-blog .nav-Line-icon {
  background-position:-278px center;
}

/*----------------------------------------------nav---------------------------------*/

/*--------------------------------------------- main--------------------------------*/
#main { width:100%; height:auto; min-height:100px; padding-bottom:50px;}
/*----------------------------------------------main--------------------------------*/

/*---------------------------------------------footer-------------------------------*/
#footer { position:absolute; bottom:0; width:100%; height:50px; color:#aaa; }
#footer-top { width:100%; height:220px; padding-top:50px; background:#333; min-width:980px; _width:980px; }
.introduceDynam { width:250px; height:auto; overflow:hidden; float:left; font-size:12px; }
.introduceDynam img { margin-bottom:12px; }
#footer-top ul { margin-left:73px; float:left; }
#footer-top ul li { width:auto; line-height:28px; font-size:12px; }
#footer-top ul li a { color:#aaa; font-size:12px; }
#footer-top ul li a:hover { color:#fff; }
.footer-group-title { color:#fe8e14; margin:15px 0; }
#footer-bottom { width:100%; height:50px; background:#171717; min-width:980px; _width:980px; line-height:50px; font-size:12px; }
#footer-bottom-inner {width:980px; height:50px; background:#171717; min-width:980px; _width:980px; line-height:50px; font-size:12px; margin:0 auto;}
#footer-bottom span a { color:#aaa; }
#footer-bottom span a:hover { color:#fff; }
.footer-link a { width:28px; height:16px; display:block; float:left; margin:10px 5px 0 0; }
.footer-link1 { background:url(../images/footer-link.png) no-repeat left center; }
.footer-link2 { background:url(../images/footer-link.png) no-repeat -28px center; }
.footer-link3 { background:url(../images/footer-link.png) no-repeat -56px center; }
.footer-link4 { background:url(../images/footer-link.png) no-repeat -84px center; }
.footer-link5 { background:url(../images/footer-link.png) no-repeat -114px center; }
iframe[name='google_conversion_frame'] { position:absolute; bottom:0; line-height: 0 !important; font-size: 0 !important; margin:0; }
a#toTop { position: fixed; _position: absolute; bottom: 30px; left: 96%; width: 46px; height: 45px; float: right; background:url(../images/icn-toTop-45X45.png) no-repeat center top; }
a#toTop:hover { background:url(../images/icn-toTop-45X45.png) no-repeat center -45px; }
/*---------------------------------------------footer---------------------------------*/
